/* Main container styling with background image */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url('IMG_0590_2.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid rgb(255, 208, 0);
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* transparent background */
  backdrop-filter: blur(8px); /* blur effect */
  -webkit-backdrop-filter: blur(8px); /* for Safari support */
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

.login-section {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin-top: 50px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-buttons button {
  flex: 1;
  padding: 10px;
  margin: 1%;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab-buttons .active-tab {
  background-color: #000057; /* changed to navy blue */
  color: #fff;
}

.login-form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
}

.login-form input {
  width: 92%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #000057; /* changed to navy blue */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.login-form button:hover {
  background-color: #000066; /* slightly darker navy blue on hover */
}